@import '../../../common/styles/sass/variables';
@import '../../../common/styles/sass/mixins';

.containerEdit {
  @include setContainers();
  max-height: 100vh;
  position: relative;
  align-items: center;
 padding-bottom: 10px;
  
  .text {
    @include setHeaderText();

    @media screen and (max-width: 500px) {
      margin-bottom: 20px;
    }
  }
}

