
.containerApp {
  width: 70vw;
  min-height: 100%;
  background-color: ghostwhite;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .text {
    width: 100%;
    height: 73px;
    position: absolute;
    top: 0;
    padding-top: 15px;
    background-color: greenyellow;
    text-align: center;
  }
}

