.app {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
}

button {
  min-height: 29px;
  min-width: 53px;
  border-radius: 7px;
}

button:hover {
  background-color: gray;
  color: lightgrey;
}

