.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: beige;
}

button {
  min-height: 29px;
  min-width: 53px;
  border-radius: 7px;
  button:hover {
    background-color: gray;
    color: lightgrey;
  }
}



