
.gradientContainer {
    width: 350px;
    height: 70px;
    margin-bottom: 50px;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    .buttonBlock {
        width: 120px;
        position: absolute;
        bottom: 5px;
        left: 133px;
        display: flex;
        justify-content: space-between;
    }
}

