@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.gradientContainer {
    width: 350px;
    height: 105px;
    margin: 35px 20px;
    padding: 10px;
    @include setDisplay(space-between, row);
    border-radius: 10px;
    
    @media screen and (max-width: 500px) {
        width: 250px;
        margin: 35px 0;
        font-size: 1.1em;
    }
    .buttonBlock {
        width: 150px;
        position: absolute;
        bottom: -35%;
        
        display: flex;
        justify-content: space-between;
        
        button {
            @include setButtons(70px, 35px);
            
            &:hover {
                filter: invert(100%);
            }
        }
    }
    span {

        filter: invert(100%);
        font-size: inherit;
        font-weight: 600;
    }
    

}

