@import "../../../common/styles/sass/variables";
@import "../../../common/styles/sass/mixins";

.containerHome {
  @include setContainers();
  @media screen and (max-width: 700px) {
    width: 95%;
  }

  .buttonAddGradient {
    
    width: 250px;
    margin: 40px auto;
    padding: 10px;
    border: 3px solid $textColor;
    border-radius: 10px;
    display: flex;
    justify-content: center;

    & a {
      width: 100%;
      text-align: center;
      text-decoration-line: none;
      font-size: 25px;
      color: $textColor;

    }

    &:hover {
      background-color: $generalColor;
    }
  }

  .infoContainer {
    
    
    margin-bottom: 50px;
    padding: 10px 0;
    font-size: 25px;
    text-align: center;
    color: $textColor;
    background-color: $generalColor;

  }

  .containerGradient {
    
    padding: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
  }


}





