@import './variables';

@mixin flexDisplay($flexDirection, $justifyContent) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justifyContent;
}

@mixin setContainers() {
  width: 75%;
  background-color: $bgColor;
  font-size: 1.5em;

  @include flexDisplay(column, flex-start);
  
  
}

@mixin setDisplay($flexDirection, $justifyContent) {
  position: relative;

  @include flexDisplay($flexDirection, $justifyContent);
  align-items: center;
  
}

@mixin setButtons($weightButton, $heightButton, ) {
  min-height: $heightButton;
  min-width: $weightButton;
  border-radius: 7px;
  cursor: pointer;
}

@mixin setHeaderText() {
  width: 100%;
  position: relative;
  top: 0;
  margin-bottom: 40px;
  padding: 15px 10px;
  background-color: $generalColor;
  text-align: center;
}
