@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';

.formBox {
  max-width: 700px;
  height: 550px;
  @include setBox(column, start);

  @media screen and (max-width: 500px) {
    height: 400px;
  }
  .labelTitle {
    padding: 15px;
    text-align: center;
  }

  .errorText {
    width: 100%;
    height: 50px;
    padding: 5px 0;
    text-align: center;
    color: red;
  }

  input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.3em;
  }

  button {
    
    @include setButtons(150px, 50px);
    margin: 10px 0;
    font-size: 1.2em;
    &:hover {
      background-color: $generalColor;
    }
  }
}